@import url(Fonts.css);
@import url(root.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vazir, sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.renew__link{
    text-decoration: none;
    color: var(--color-black);
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 16px 20px;
    background-color: var(--color-white);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
.header__login {
    flex: 1;
    cursor: pointer;
}
.header__login__text {
    color: var(--color-primary-main);
    font-weight: 700;
    font-size: var(--font-size-button-Mobile);
}
.header__logo {
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.header__logo__image {
    width: 92px;
    height: 20px;
}
.header__menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu__icon {
    color: var(--color-primary-main);
}
.header__nav {
    display: none;
}
.renew__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--color-white);
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.renew {
    position: fixed;
    left: 16px;
    bottom: 16px;
    z-index: 2;
}
.renew__inner {
    width: 43.56px;
    height: 43.56px;
    background-color: var(--color-neutral50);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.renew__outer:hover > .renew__inner{
    background-color: var(--color-neutral100);
}
.renew__text {
    font-size: var(--font-size-overline-Mobile);
    font-weight: 500;
    line-height: var(--font-LH-overline-Mobile);
}
.renew__image {
    height: 20.89px;
    width: 24.89px;
}
.support {
    position: fixed;
    right: 16px;
    bottom: 16px;
    height: 56px;
    width: 56px;
    background-image: url(../Images/support.svg);
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.support:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.26);
}
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    background-color: var(--color-white);
    background-image: linear-gradient(to bottom left, white 1%, #dcebff);
}
.main__card {
    position: relative;
    z-index: 0;
}
.--offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 23px;
    background: #EBF3E9;
    border-radius: 24px;
    z-index: 1;
    position: absolute;
    top: -9.5px;
    color: #3C8825;
    font-size: var(--font-size-overline-Mobile);
    line-height: var(--font-LH-overline-Mobile);
    font-weight: 500;
}
.main__text__1 {
    width: 90%;
    color: var(--color-neutral400);
    font-size: var(--font-size-h1-Mobile);
    line-height: var(--font-LH-h1-Mobile);
    font-weight: 900;
}
.main__text__2 {
    width: 90%;
    color: var(--color-black);
    font-size: var(--font-size-subtle-Mobile);
    line-height: var(--font-LH-subtle-Mobile);
    font-weight: 500;
    padding-top: 15px;
}
.main__text__3 {
    width: 90%;
    color: var(--color-black);
    font-size: var(--font-size-caption-Mobile);
    line-height: var(--font-LH-caption-Mobile);
    font-weight: 500;
}
.main__texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
}
.main__image {
    width: 100%;
}
.main__cards {
    max-width: 360px;
    padding: 30px 16px;
    gap: 8px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.main__card__body {
    width: 104px;
    height: 93.88px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-neutral50);
    border-radius: 24px;
    transition: all 0.2 ease;
    cursor: pointer;
}
.main__card__body:hover {
    border: 2px solid var(--color-black);
}
.main__card__2__body {
    width: 160px;
    height: 64px;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    border: 1px solid var(--color-neutral50);
    border-radius: 16px;
    cursor: pointer;
}
.main__card__2__body:hover {
    border: 1px solid var(--color-black);
}
.main__card__2__image {
    height: 40px;
    width: 40px;
    flex: 1;
}
.main__card__2__text {
    font-size: var(--font-size-caption-Mobile);
    font-weight: 500;
    line-height: var(--font-LH-caption-Mobile);
    color: var(--color-neutral400);
    flex: 2;
    display: flex;
    justify-content: center;
}
.--atash {
    display: none;
}
.card__2__atash {
    flex: 2;
    display: flex;
    justify-content: center;
}
.main__card__image {
    height: 40px;
    width: 40px;
}
.main__card__text {
    font-size: var(--font-size-button-Mobile);
    font-weight: 700;
    line-height: var(--font-LH-button-Mobile);
    color: var(--color-neutral400);
}
.main__lower {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0px;
}
.main__lower__image {
    width: 90%;
    
}
.--border {
    border-top: 1px solid var(--color-primary-light);
}
.khesarat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
}
.khesarat__top {
    padding: 40px 0px 16px 0px;
}
.khesarat__top__text {
    font-size: var(--font-size-h2-Mobile);
    font-weight: 700;
    line-height: var(--font-LH-h2-Mobile);
    color: var(--color-black);
}
.khesarat__para__text {
    text-align: right;
    font-size: var(--font-size-body-Mobile);
    font-weight: 400;
    line-height: var(--font-LH-body-Mobile);
    color: var(--color-neutral300);
}
.khesarat__mid {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
}
.khesarat__mid__card {
    width: 33%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    height: 44px;
    width: 230px;
}
.khesarat__mid__number {
    font-size: var(--font-size-h3-Mobile);
    font-weight: 700;
    line-height: var(--font-LH-h3-Mobile);
    color: var(--color-secondary-main);

}
.khesarat__mid__text {
    font-size: var(--font-size-caption-Mobile);
    font-weight: 500;
    line-height: var(--font-LH-caption-Mobile);
    color: var(--color-black);
}
.khesarat__button {
    padding: 15px 0px;
}
.khesarat__btn {
    height: 40px;
    cursor: pointer;
    width: 161PX;
    background-color: var(--color-primary-main);
    border-radius: 8px;
    border: none;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.khesarat__btn:hover {
    background-color: var(--color-primary-dark);
}
.khesarat__button__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
.--khesarat {
    color: var(--color-white);
}
.khesarat__right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.khesarat__button__text {
    font-size: var(--font-size-button-Mobile);
    font-weight: 700;
    line-height: var(--font-LH-button-Mobile);
    color: var(--color-white);
}
.khesarat__bot {
    padding: 45PX 0PX;
    width: 100%;
}
.khesarat__bot__image {
    width: 100%;
}
.reminder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.jakhali__left {
    position: absolute;
    top: -12px;
    left: 16px;
}
.jakhali__right {
    position: absolute;
    top: -12px;
    right: 16px;
}
.reminder__container__top {
    min-width: 350px;
    width: 90%;
    height: 124px;
    background-color: var(--color-secondary-main);
    border-radius: 24px 24px 0px 0px;
    border: 1px solid var(--color-black);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 24px;
    position: relative;
}
.reminder__container__bot {
    min-width: 350px;
    width: 90%;
    height: 271px;
    background-color: var(--color-white);
    border-radius: 0px 0px 24px 24px;
    border: 1px solid var(--color-black);
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 17px;
}
.reminder__text__top {
    font-size: var(--font-size-h2-Mobile);
    font-weight: 700;
    line-height: var(--font-LH-h2-Mobile);
    color: var(--color-black);
}
.reminder__bot {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reminder__cards {
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.reminder__card {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px solid var(--color-neutral100);
    border-radius: 8px;
    cursor: pointer;
    width: 40%;
}
.reminder__card:hover {
    border: 1px solid var(--color-black);
}
input::-webkit-calendar-picker-indicator {
    display: none !important;
}
form {
    width: 90%;
}
input {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    outline: none;
    cursor: pointer;
    direction: rtl;
    padding-right: 8px;
    font-size: var(--font-size-caption-Mobile);
    font-weight: 500;
    line-height: var(--font-LH-caption-Mobile);
    color: var(--color-neutral400);
}
.down__icon {
    color: var(--color-neutral300);
}
.reminder__btn {
    width: 105px;
    height: 40px;
    background-color: var(--color-primary-main);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.reminder__btn:hover {
    background-color: var(--color-primary-dark);
}
.reminder__btn__text {
    color: var(--color-white);
    font-size: var(--font-size-button-Mobile);
    font-weight: 500;
    line-height: var(--font-LH-button-Mobile);
}
.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: 380px;
}
.circle {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4% 0px;
    /* border: 1px solid var(--color-black); */
    text-align: center;
}
.circle__text {
    color: var(--color-neutral500);
    font-size: var(--font-size-overline-Mobile);
    font-weight: 600;
    line-height: var(--font-LH-overline-Mobile);
}
.spin {
    border: 2px solid var(--color-neutral200);
    border-color: var(--color-neutral200);
    transition: border-color 1s linear;
}
.spin:hover {
    border-color: var(--color-primary-main);
}
@media screen and (min-width: 960px) {
    .circle__text {
        color: var(--color-neutral500);
        font-size: var(--font-size-overline-Desktop);
        font-weight: 600;
        line-height: var(--font-LH-overline-Desktop);
    }
    .circle {
        width: 152px;
        height: 152px;
    }
    .circles {
        max-width: 900px;
        gap: 48px;
    }
    .reminder__btn{
        width: 113px;
        height: 37px;
    }
    .reminder__btn__text {
        font-size: var(--font-size-button-Desktop);
        font-weight: 500;
        line-height: var(--font-LH-button-Desktop);
        color: var(--color-white);
    }
    input {
        font-size: var(--font-size-caption-Desktop);
        font-weight: 500;
        line-height: var(--font-LH-caption-Desktop);
        color: var(--color-neutral400);
    }
    .reminder__card {
        width: 30%;
    }
    .reminder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }
    .jakhali__left {
        left: 56px;
    }
    .jakhali__right {
        right: 56px;
    }
    .reminder__container__top {
        min-width: 800px;
        width: 90%;
        height: 97px;
        background-color: var(--color-secondary-main);
        border-radius: 24px 24px 0px 0px;
        border: 1px solid var(--color-black);
        border-bottom: none;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 24px;
        position: relative;
    }
    .reminder__container__bot {
        min-width: 800px;
        width: 90%;
        height: 275px;
        background-color: var(--color-white);
        border-radius: 0px 0px 24px 24px;
        border: 1px solid var(--color-black);
        border-top: none;
        padding: 48px 17px;
    }
    .reminder__text__top {
        font-size: var(--font-size-h2-Desktop);
        font-weight: 700;
        line-height: var(--font-LH-h2-Desktop);
        color: var(--color-black);
    }
    .khesarat {
        padding: 0px 5%;
        flex-direction: row-reverse;
        column-gap: 2%;
        padding-bottom: 150px;
    }
    .khesarat__bot {
        align-self: flex-end;
        padding: 0px 0px;
    
    }
    .khesarat__right {
        align-items: flex-end;
        width: 165%;
    }
    .khesarat__mid {
        width: 100%;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .khesarat__mid__card {
        width: 100%;
        column-gap: 5px;
    }
    .khesarat__para__text {
        text-align: right;
        font-size: var(--font-size-body-Desktop);
        font-weight: 400;
        line-height: var(--font-LH-body-Desktop);
        color: var(--color-neutral300);
    }
    .khesarat__button__text {
        font-size: var(--font-size-button-Desktop);
        font-weight: 700;
        line-height: var(--font-LH-button-Desktop);
        color: var(--color-white);
    }
    .khesarat__button {
        align-self: center;
        padding-bottom: 50px;
    }
    .khesarat__mid__number {
        font-size: var(--font-size-h3-Mobile);
        font-weight: 700;
        line-height: var(--font-LH-h3-Mobile);
        color: var(--color-secondary-main);
    
    }
    .khesarat__mid__text {
        font-size: var(--font-size-caption-Desktop);
        font-weight: 500;
        line-height: var(--font-LH-caption-Desktop);
        color: var(--color-black);
    }
    .main__lower {
        padding: 22px 10%;
    }
    .main__cards {
        max-width: 796px;
        padding: 30px 16px;
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        flex-direction: row-reverse;
        align-self: center;
    }
    .main__card__body {
        width: 132px;
        height: 132px;
        background-color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid var(--color-neutral50);
        border-radius: 32px;
    }
    .main__card__2__body {
        width: 236px;
        height: 68px;
        background-color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px;
        border: 1px solid var(--color-neutral50);
        border-radius: 16px;
    }
    .--border {
        column-gap: 24px;
        padding: 30px 5px;
    }
    .card__2__atash {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__card__text {
        font-size: var(--font-size-button-Desktop);
        font-weight: 700;
        line-height: var(--font-LH-button-Desktop);
        color: var(--color-neutral400);
    }
    .main__card__image {
        height: 72px;
        width: 72px;
    }
    .main__text__1 {
        width: 90%;
        color: var(--color-neutral400);
        font-size: var(--font-size-h1-Desktop);
        line-height: var(--font-LH-h1-Desktop);
        font-weight: 900;
    }
    .main__text__2 {
        width: 90%;
        color: var(--color-black);
        font-size: var(--font-size-subtle-Desktop);
        line-height: var(--font-LH-subtle-Desktop);
        font-weight: 500;
        padding-top: 15px;
    }
    .main__text__3 {
        width: 90%;
        color: var(--color-black);
        font-size: var(--font-size-caption-Desktop);
        line-height: var(--font-LH-caption-Desktop);
        font-weight: 500;
    }
    .main__card__2__text {
        font-size: var(--font-size-caption-Desktop);
        font-weight: 500;
        line-height: var(--font-LH-caption-Desktop);
        color: var(--color-neutral400);
        flex: 2;
        display: flex;
        justify-content: center;
    }
    .--atash {
        display: block;
        font-size: var(--font-size-overline-Desktop);
        font-weight: 500;
        line-height: var(--font-LH-overline-Desktop);
        color: var(--color-neutral200);
    }
    .--offer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 89px;
        height: 36px;
        background: #EBF3E9;
        border-radius: 24px;
        z-index: 1;
        position: absolute;
        top: -16px;
        color: #3C8825;
        font-size: var(--font-size-overline-Desktop);
        line-height: var(--font-LH-overline-Desktop);
        font-weight: 500;
    }
    .header__menu {
        display: none;
        flex: none;
    }
    .header__logo {
        flex: none;
    }
    .header__login {
        border: 1px solid var(--color-primary-light);
        border-radius: 24px;
        flex: none;
        padding: 8px 16px;
    }
    .header__login:hover {
        border: 1px solid var(--color-primary-main);
        border-radius: 24px;
        flex: none;
        padding: 8px 16px;
        background-color: var(--color-neutral50);
    }
    .header__login__text {
        color: var(--color-primary-main);
        font-weight: 700;
        font-size: var(--font-size-button-Desktop);
        line-height: var(--font-LH-button-Desktop);
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 26px 10%;
        width: 100%;
    }
    .header__nav {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 30px;
    }
    .header__nav__div {
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
    }
    .header__nav__text {
        color: var(--color-black);
        font-weight: 500;
        font-size: var(--font-size-caption-Desktop);
        line-height: var(--font-LH-caption-Desktop);
    }
    .header__nav__div:hover > .header__nav__text {
        color: var(--color-primary-light);
    }
    .header__nav__icon {
        color: var(--color-neutral300);
    }
    .header__nav__div:hover > .header__nav__icon {
        color: var(--color-primary-light);
    }
    .renew__outer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: var(--color-white);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    }
    .renew {
        position: fixed;
        left: 32px;
        bottom: 32px;
    }
    .renew__inner {
        width: 56px;
        height: 56px;
        background-color: var(--color-neutral50);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .renew__text {
        font-size: var(--font-size-overline-Mobile);
        font-weight: 500;
        line-height: var(--font-LH-overline-Mobile);
        padding-bottom: 5px;
    }
    .renew__image {
        height: 32px;
        width: 32px;
    }
    .support {
        position: fixed;
        right: 32px;
        bottom: 32px;
        height: 72px;
        width: 72px;
        background-image: url(../Images/support-desktop.svg);
    }
}
@media screen and (min-width: 750px) and (max-width: 950px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 26px 4%;
    }
    .header__nav {
        column-gap: 10px;
    }
    .nav {
        column-gap: 10px;
    }
}